<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <div class="panel-body" *ngIf="product">
        <div class="wizard">
        <a [routerLink]="['info']" routerLinkActive="active">Basic Information</a>
        <a [routerLink]="['tags']" routerLinkActive="active ">Search Tags</a>
        </div>
        
    </div>
    
    
    <router-outlet></router-outlet>
    <div>
        <button class="btn btn-primary" type="button" (click)='saveProduct()'>Save</button>
    </div>
</div>